# Google Apps Script Web App URL
# Deploy your script as a Web App:
# 1. Execute as: Me
# 2. Who has access: Anyone
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec

# Number of correct answers required to pass the level
# Default: 3
VITE_PASS_THRESHOLD=3

# Total number of questions per game session
# Default: 5
VITE_QUESTION_COUNT=5
